---
import ImageGallary2 from '../../components/imageGallary2.astro';
import Player from '../../components/player.astro';
import ProductLayout from '../../layouts/ProductLayout.astro';
import { getEntry } from 'astro:content';


const { slug } = Astro.params;


const entry = await getEntry('productsNew', slug);

---


<ProductLayout title={entry.data.title} description={entry.data.title}>
  
  <div class="container1">
    <div class="productName unselectable"><h1>{entry.data.title}<h1/></div>
    <section>
      <ImageGallary2 paths={entry.data.image}/>
      <div class="col-right">
        <!-- {entry.data.video.map((path:string, index:number) => (
          <div class="up box" id="up">
          <div>
            <p class="title unselectable">{entry.data.videodescription[index]}</p>
          </div>
        
        <Player2 videoPaths={entry.data.video}/>
        </div>
        ))} -->
        <!-- <div class="up box" id="up">
          <div>
            <p class="title unselectable">{entry.data.videodescription}</p>
          </div>
        
        <Player videoPath={entry.data.video}/>
        </div> -->
        <Player videoPath={entry.data.video} videoDescription={entry.data.videodescription}/>
        <div class="info box" >
          <h2 class="unselectable white">
            :مشخصات
          </h2>
          <div class="flex justify-end mx-3 mt-2 tags">
            {entry.data.tags.map((tag:string, index:number) => (
              <span class={index % 2 === 0? "px-1 py-1 m-1 mb-2 bg-green-500 text-white rounded-full text-xs hover:opacity-90 text-center" : "px-1 py-1 m-1 mb-2 bg-indigo-500 text-white rounded-full text-xs hover:opacity-90 text-center"}>
              <a href={'/products/tag/' + tag}>{tag}</a>
              </span>
            ))}
           </div>
          <ul class="unselectable list description">
            <li class="list-item">
              {entry.data.description}
            </li>
            <li class=" blue">
              جهت استعلام قیمت و موجودی با شماره 09125450233 تماس حاصل فرمایید
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</ProductLayout>

<style>
  :root {
  --main-radius: 5px;
  --main-padding: 5px;
}
.tags a{
  margin: 5px;
}

h1 {
  font-size:35px;
  font-weight: 500;
  color: rgb(0, 0, 0);  
  padding-top: 15px;
  margin-top: 10px;
  text-align: center;
  text-shadow: 1px 5px 18px #0077ff;
}
p{
  color: rgb(240, 248, 255);
  font-size:30px;
  font-weight: 400;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}
h2{
  color: rgb(240, 248, 255);
  font-size:30px;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: end;
}
.blue {
  font-size:18px;
  font-weight: 500;
  color: #002aff;
  padding-right: 20px;
  padding-top: 7px;
  margin-top: 5px;
  text-align: end;
}
.list-item {
  font-size:20px;
  font-weight: 500;
  color: rgb(0, 0, 0);  
  padding-right: 20px;
  padding-top: 3px;
  margin-top: 3px;
  text-align: end;
}
.unselectable {
  user-select: none;
}


.box {
  background: rgba(0,99,255,0.3);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(0,99,255,0.15);
}

.container1{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin:auto;
}
.productName {
  flex: 1;
  /* border: 2px solid red; */
  padding: 0;
  margin: 0;
}
section {
  flex: 1;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.col-left {
  flex: 1;
  margin: 10px;
  margin-top: 10px; 
  margin-bottom: 30px;
  border-radius: 5px;
  /* border: 2px solid rgb(30, 255, 0); */
}
.col-right {
  flex: 1.1;
  /* border: 2px solid rgb(255, 153, 0); */
  display: flex;
  flex-direction: column;
  gap: 0em;
}

.up {
  flex: 1;
  /* border: 2px solid rgb(132, 0, 255); */
  margin: 10px;
  margin-top: 10px; 
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.info {
  flex: 1;
  /* border: 2px solid rgb(30, 255, 0); */
  border-radius: 5px;
  margin: 10px;
  margin-top: 10px; 
  margin-bottom: 30px;
  padding: 10px;
  
}


#sidebar {
  border: solid #004d40 5px;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  border: solid #004d40 5px;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  border: solid #004d40 5px;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  border: solid #004d40 5px;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  border: solid #004d40 5px;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media (max-width: 1200px) {
  section {
    flex-direction: column;
  }
}


</style>